#news {
    min-height: 520px;
}

table.table{
    width:100%;
    margin: 10px auto 0px auto;
    text-align:left;
    background-color:#f4f4f4;
    border-collapse:collapse;
}

table.table tr{
    border-style:solid;
    border-width:1px;
    border-color:#DDD;
}

table.table tr.header{
    background-image:url(../../images/headerGreyTransparent.png);
    background-repeat:repeat-x;
    background-color:#DDD;
    color:black;
    text-align:left;
    border-style:solid;
    border-width:1px;
    border-color:#DDD;
}

table.table tr.mouseover:hover{
    background-color:#eae9e9;
}

table.table td{
    border-style:solid;
    border-width:1px;
    border-color:#DDD;
    padding:5px;
}

table.table th{
    border-style:solid;
    border-width:1px;
    border-color:#DDD;
    padding:5px;
    text-align:left;
}

aside.totalBox div#blocComplementaire {
    background-color: #DFDFDF;
    position:absolute;
    top: 520px;
    width: 150px;
}

aside.totalBox div#blocComplementaire img {
    width: 100%;
}

aside.totalBox div#blocPartenaires {
    background-color: #DFDFDF;
    position:absolute;
    top: 320px;
    width: 150px;
}

aside.totalBox div#blocPartenaires img {
    width: 100%;
}

/*
 * Pickup Player form for the KYM
 */
form#pickupKYM div label {
    font-weight: bold;
}

form#pickupKYM div.element {
    margin-bottom: 15px;
}

form#pickupKYM div div label {
    font-weight: normal;
}

form#pickupKYM input[type='text'], input[type=email] {
    width: 300px;
    margin-left: 15px;
    /*box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);*/
    color: #555;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    line-height: 1.42857;
    height: 30px;
    outline: none;
    padding: 6px 12px;
}

form#pickupKYM input[type='email'] {
    margin-left: 40px;
}

form#pickupKYM input[type='text']:focus, input[type=email]:focus {
    box-shadow: 0 0 5px rgba(153, 204, 255, 1);
    border: 1px solid rgba(153, 204, 255, 1);
}

form#pickupKYM select {
    width: 300px;
    margin-left: 35px;
    color: #555;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    line-height: 1.42857;
    height: 30px;
    outline: none;
    vertical-align: middle;
    padding: 6px 12px;
}

form#pickupKYM select:focus {
    box-shadow: 0 0 5px rgba(153, 204, 255, 1);
    border: 1px solid rgba(153, 204, 255, 1);
}

form#pickupKYM input[type='radio'] {
    width: 300px;
    margin-left: 35px;
    color: #555;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    line-height: 1.42857;
    height: 30px;
    outline: none;
    vertical-align: middle;
}

/* For the radio button */
form#pickupKYM div.element div {
    margin-bottom: 5px;
}


form#pickupKYM input[type='submit'] {
    display: inline-block;
    margin-bottom: 0px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    height: 30px;
    border-radius: 4px;
    background-color: #99CCFF;
    border-color: #46A22D;
}

form#pickupKYM input[type='submit']:hover {
    background-color: #AEF;
}

