table.table{
    width:100%;
    margin: 10px auto 0px auto;
    text-align:left;
    background-color:#f4f4f4;
    border-collapse:collapse;
}

table.table tr{
    border-style:solid;
    border-width:1px;
    border-color:#DDD;
}

table.table tr.header{
    background-image:url(../../images/headerGreyTransparent.png);
    background-repeat:repeat-x;
    background-color:#DDD;
    color:black;
    text-align:left;
    border-style:solid;
    border-width:1px;
    border-color:#DDD;
}

table.table tr.mouseover:hover{
    background-color:#eae9e9;
}

table.table td{
    border-style:solid;
    border-width:1px;
    border-color:#DDD;
    padding:5px;
}

table.table th{
    border-style:solid;
    border-width:1px;
    border-color:#DDD;
    padding:5px;
    text-align:left;
}

aside.totalBox div#blocComplementaire {
    background-color: #DFDFDF;
    position:absolute;
    /*top: 240px;*/
    top: 280px;
    width: 150px;
}

aside.totalBox div#blocComplementaire img {
    width: 100%;
}