config/mysql.php
*.swp
modules/galerie/mini/*
modules/galerie/picture/*
todo
/nbproject/private/
/fpdf/
/tmp.php
/phpinfo.php
/nbr_ligne.php
/backup_tables.php
/docs/README.txt
/nbproject
/data/session/*
/public/images/avatar/
