div.barreCont{
width:100px; 
height:8px; 
background-image:url(../../images/headerGreyTransparent.png);
background-repeat:repeat-x;
background-color:#CCC;
}

div.barrePourcent{
height:8px;
background-image:url(../../images/headerGreyTransparent.png);
background-repeat:repeat-x;
background-position:30% 30%;
background-color:#377ad0;
}

div.dataForm{
padding:4px 3px;
margin-bottom:8px;
width:500px;
}

input.inputStyle{
font-size:12px;
width:400px;
}

input.inputStyle2{
font-size:12px;
width:100px;
}

span.stat{
padding:3px;
font-size:9px;
cursor:pointer;
background-color:#EEE;
color:black;
cursor:pointer;
border:solid #CCC 1px;
behavior: url(fix_ie/PIE.htc);
}

span.stat:hover{
background-color:#DDD;
}