div#globalBox {
    width: 920px;
}

div.box {
    margin-bottom: 20px;
}

input.bouton1 {
    position: relative;
    left: 840px;
    top: 3px;
}

li.lstImages {
    display: block;
    list-style: none outside none;
}

li.lstImages img {
    height: 44px;
}

li.lstImages a {
    position: relative;
    bottom: 20px;
}
