.titreSaison{
    position:relative;
    z-index:3;
    background-image:url(/images/header3.gif);
    background-repeat:repeat-x;
    background-color:transparent;
    color:white;
    height:20px;
    margin:0px;
    vertical-align:middle;
    -moz-border-radius: 5px; /*coins arrondis*/
    -webkit-border-radius: 5px; 
    border-radius: 5px;
    -moz-box-shadow: 1px 1px 4px #000;  /*ombrage*/
    -webkit-box-shadow: 1px 1px 4px #000;
    box-shadow: 1px 1px 4px #000;
    padding:5px 0px 0px 10px;
    outline-style:none;
    /*behavior: url(fix_ie/PIE.htc);*/
}

/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }


.ui-icon-plus {width: 16px; height: 16px; background-image: url(/images/ui-icons_white_256x240.png); background-position: -16px -128px; }
.ui-icon-minus {width: 16px; height: 16px; background-image: url(/images/ui-icons_white_256x240.png); background-position: -48px -128px; }


/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background-image:url(../images/headerGreyTransparent.png);
    background-repeat:repeat-x;
    background-color:#121212;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { 
    background-image:url(../images/headerGreyTransparent.png);
    background-repeat:repeat-x;
    background-color:#444;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    margin:0px; 
    background-image:url(../images/headerBlue.gif);
    background-repeat:repeat-x;
    background-color:#377ad0;
    -moz-border-radius: 5px 5px 0px 0px; /*coins arrondis*/
    -webkit-border-radius: 5px 5px 0px 0px; 
    border-radius: 5px 5px 0px 0px;
}


/* IE/Win - Fix animation bug - #4615 */
.ui-accordion { width: 100%; }
.ui-accordion .ui-accordion-header { cursor: pointer; position: relative; padding-left: 25px; margin-top: 15px; zoom: 1; }
.ui-accordion .ui-accordion-li-fix { display: inline; }
.ui-accordion .ui-accordion-header-active { border-bottom: 0 !important; }
.ui-accordion .ui-accordion-header a { display: block; font-size: 1em; padding: .5em .5em .5em .7em; }
.ui-accordion-icons .ui-accordion-header a { padding-left: 2.2em; }
.ui-accordion .ui-accordion-header .ui-icon { position: absolute; left: .5em; top: 50%; margin-top: -8px; }
.ui-accordion .ui-accordion-content { padding: 1em 2.2em; border-top: 0; margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; overflow: auto; display: none; zoom: 1; }
.ui-accordion .ui-accordion-content-active { display: block; }

div.box2{
    position:relative;
    z-index:5;
    background-color:white;
    padding:5px 10px 10px 10px;
    text-align:center;
    -moz-border-radius: 0px 0px 5px 5px; /*coins arrondis*/
    -webkit-border-radius: 0px 0px 5px 5px; 
    border-radius: 0px 0px 5px 5px;
    -moz-box-shadow: 1px 1px 4px #000;  /*ombrage*/
    -webkit-box-shadow: 1px 1px 4px #000;
    box-shadow: 1px 1px 4px #000;
}

h4{
    font-size:12px;
}