div#globalContent {
    margin-bottom:100px;
}

div#Menu{
    float:left;
    width:150px;
    background-color:#dfdfdf;
}
div#Menu div.bouton {
    margin:10px 0; 
    padding:5px;
}
div#Menu div.bouton > span {
    font-size:11px; 
    font-weight:500;
}

#news {
    position:relative;
    margin-left:182px;
    width:570px;
    padding-bottom:10px;
    margin-bottom:20px;
    min-height:400px;
}

div.contenuNews {
    margin-bottom: 20px;
}

#imgmenu{
    position:absolute; 
    right:2px; 
    bottom:1px;	
}

div.cadreCat{
    margin-left:-5px;
    font-size:12px;
    padding:7px;
}

div.cadreCat:hover {
    background-image: url(../../images/headerBlue.gif);
    background-repeat: repeat-x;
    background-color: #377ad0;
    -moz-border-radius: 5px; /*coins arrondis*/
    -webkit-border-radius: 5px; 
    border-radius: 5px;
    -moz-box-shadow: 1px 1px 2px #000;  /*ombrage*/
    -webkit-box-shadow: 1px 1px 2px #000;
    box-shadow: 1px 1px 2px #000;
    color:white;
    border:0px;
}

div.map {
    width:510px; 
    margin:22px auto;
}

div.canvas {
    width: 500px; /* Obligatoire pour google maps */
    height: 300px; /* Obligatoire pour google maps */
    margin:0 auto;
}

div.map p {
    text-align:center; 
    background-color:#222; 
    color:white; 
    margin:0 5px 5px 5px; 
    padding:8px;
}

/*============   ADMIN   ===============*/
div#modifContent {
    position: absolute; 
    right: 25px;
}
span.actionContent {
}
a.doc {
    position:absolute; 
    left:125px; 
    bottom:1px
}
textarea#content {
    display: none;
}