table#profil {
    width:100%;
}

#avatar
{
    text-align:center;
    width:120px; 
    height:140px; 
    padding:8px; 
    cursor:pointer;
}
tr.style1
{
    background-color:#e6e6e6;
}
tr.style2
{
    background-color:#FFF;
}
textarea
{
    font-family:verdana;
    font-size:10px;	
}
#pwd tr.style1, #pwd tr.style2
{
    text-align:right;
}
select
{
    width:100%;
}	
p.error
{
    text-align:center;
    color:red;	
}
div.help {
    position:absolute;
    bottom:10px;
    right:15px;
}
input.error {
    display:block;
}
