div#globCalendar{
position:relative;
background-repeat: no-repeat;
width:750px;
margin:10px auto 0px auto;
text-align:center;
}

div#menuSelectionCat{
margin:20px 0px 30px 50px;
}



div#datepicker{
font-family: Arial,Helvetica,sans-serif;
position:relative;
margin:10px auto 0px auto;
text-align:left;
}

div.calendar{
position:absolute;
background-color:white;
width:180px;
padding:5px;
padding-left:10px;
line-height:30px;
-moz-border-radius: 5px; /*coins arrondis*/
-webkit-border-radius: 5px; 
border-radius: 5px;
-moz-box-shadow: 1px 1px 4px #000;  /*ombrage*/
-webkit-box-shadow: 1px 1px 4px #000;
box-shadow: 1px 1px 4px #000;
border-style:solid;
border-width:2px;
border-color:white;
behavior: url(fix_ie/PIE.htc);
}

table.calendar{
width:180px;
}

td.calendar{
width:20px;
border-style:solid;
border-width:2px;
text-align:center;
font-size:10px;
font-weight:bold;
cursor:pointer;
}

td.defaultCalendar{
background-image:url(../../images/headerGreyTransparent.png);
background-repeat:repeat-x;
background-color:#e5e5e5;
color:black;
border-color:#e5e5e5;
}

td.eventSelected{
background-image:url(../../images/headerGreyTransparent.png);
background-repeat:repeat-x;
background-color:#c20d0d;
border-color:#c20d0d;
color:white;
text-align:center;
}

td.calendarMouseOver{
background-image:url(../../images/headerBlue.gif);
background-repeat:repeat-x;
background-color:#377ad0;
border-color:#377ad0;
color:white;
}

td.calendarVide{
width:20px;
background-color:#f4f4f4;
color:#ddd;
text-align:center;
font-size:10px;
}

div.colorSelecter table{
width:250px;
margin:0 auto;
}

div.colorSelecter td{
width:25px;
height:25px;
border-style:solid;
border-width:1px;
border-color:black;
cursor:pointer;
}

span#spanEcrireDate{
color:black;
font-size:12px;
font-weight:bold;
}

div.dataForm{
padding:4px 3px;
margin-bottom:8px;
width:250px;
}

div.dataForm2{
padding:4px 3px;
margin-bottom:8px;
width:190px;
}

input.inputStyle{
font-size:12px;
width:170px;
}